        img {
            height: 500px;
            width: 450px;
        }
        .head {
            font-family: long Cang, cursive;
            color: hotpink;
            margin-left: 20px;
            line-height: 3.5;

        }
        .wishes {
            color: red;
        }
        body {
            background-color: black;
        }